	.embeddedServiceHelpButton .helpButton .uiButton {
		background-color: #66BE1F;
		font-family: "Arial", sans-serif;
	}
	.embeddedServiceHelpButton .helpButton .uiButton:focus {
		outline: 1px solid #66BE1F;
	}
